aiohttp==3.9.1
aiosignal==1.3.1
arcp==0.2.1
attrs==23.1.0
bioblend==1.2.0
CacheControl==0.13.1
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
click-default-group==1.2.4
filelock==3.13.1
frozenlist==1.4.1
galaxy2cwl==0.1.4
gxformat2==0.18.0
idna==3.6
isodate==0.6.1
Jinja2==3.1.2
MarkupSafe==2.1.3
mistune==2.0.5
msgpack==1.0.7
multidict==6.0.4
mypy-extensions==1.0.0
pluggy==1.3.0
pyparsing==3.1.1
python-dateutil==2.8.2
PyYAML==6.0.1
rdflib==7.0.0
requests==2.31.0
requests-toolbelt==1.0.0
rocrate==0.10.0
ruamel.yaml==0.18.5
ruamel.yaml.clib==0.2.8
schema-salad==8.5.20231201181309
six==1.16.0
sqlite-fts4==1.0.3
sqlite-utils==3.36
tabulate==0.9.0
tinydb==4.8.0
tuspy==1.0.3
typing_extensions==4.9.0
urllib3==2.1.0
yarl==1.9.4
datasette==0.64.3
datasette-template-sql==1.0.2
